@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Bold.ttf') format('truetype');
  /* Version bold */
  font-weight: 700;
  font-style: normal;
}

/* Intégration de la police Aboreto */
@font-face {
  font-family: 'Aboreto';
  src: url('./fonts/Aboreto-Regular.ttf') format('truetype');
  /* Version normale */
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100%;
}

.banner {
  position: relative;
  background-image: url('https://media.beauxarts.com/uploads/2024/09/unec66a6484-1300x975.jpg');
  background-size: cover;
  background-position: center 25%;
  height: 57vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  /* Aligne horizontalement à gauche */
  align-items: flex-start;
  /* Aligne verticalement en bas */
  padding-top: 20px;
}

.banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(73, 58, 58, 0.133);
  filter: brightness(70%);
  /* z-index: 1; */

}

.banner h1 {
  position: relative;

  font-size: 65px;
  text-align: left;
  margin: 0;

  padding: 20px;
  color: white;


  font-family: 'Aboreto';
  top: -20px;
}

/* Marcher sur les pas de ces féminines icones... */
h1 {
  color: rgba(9, 8, 8, 0.873);
  text-align: left;
  margin-top: 60px;

  margin-bottom: 20px;
  margin-left: 20px;

  font-family: 'Aboreto';
  font-weight: bold;
}

.p-1 {
  color: rgb(58, 58, 53);
  font-size: 1.2vw;
  text-align: left;
  margin-top: 0;

  margin-left: 20px;

  font-family: 'Montserrat';
}

.p-2 {
  color: rgb(58, 58, 53);
  font-size: 1.2vw;
  text-align: left;
  margin-top: 3px;
  /* Ajuste la marge entre p1 et p2 */
  margin-bottom: 60px;
  margin-left: 20px;
  /* Marge à gauche */
  font-family: 'Montserrat';
}

h2{
  /* color: rgb(124, 63, 117); */
  margin-top: 25px;
}
.all-womentitle {
  font-family: 'Aboreto';
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-left: 4px;
  /* margin-bottom: 20px; */

}

.name-index {
  /* border: 3px double #df7a7a; */
  border-radius: 7px;
  font-family: 'Aboreto';
  /* padding: -20 20px;  */
}

.categorie {
  background-color: rgba(31, 130, 115, 0.863);
  font-family: 'Aboreto';
  color: white;
}

.women-pictures {
  width: 220px;
  height: 330px;
}

.women-address {
  color: rgb(6, 5, 5);
  font-family: 'montserrat';
}

.desc-all {
  background-color: rgb(249, 249, 249);
}

#womenPortraits {
  display: flex;
  overflow-x: scroll;
  gap: 20px;
  padding: 20px 0;
  justify-content: start;
  margin-left: 20px;
  margin-bottom: 20px;
}

#womenPortraits::-webkit-scrollbar {
  height: 9px;
}

#womenPortraits::-webkit-scrollbar-thumb {
  background-color: #eddddb;
  /* Couleur barre */
  border-radius: 4px;
}

#womenPortraits::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  /* Couleur barre de défilement */
  border-radius: 4px;
}

.card {
  margin-top: 50px;
  /* Supprime la marge au-dessus du titre */
  width: 300px;
  height: 450px;
  perspective: 1000px;
  /* Pour un effet 3D */
  flex-shrink: 0;
  margin: 0.2%;
  border-radius: 5%;
  transform-origin: 60% 50%;
  scroll-snap-align: start;
  overflow: hidden;  /* pour ne pas dépsser l'espace de la carte */
}

.card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  /* Préserve l'effet 3D */
  transition: transform 0.6s;
  position: absolute;
  border-radius: 5%;
  /* transform: translateZ(0);  */
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5%;


  /* border: 5px solid #030303ad; */
}

/* Le verso de la carte est initialement retourné */
.card.flipped .card-inner {
  transform: rotateY(180deg);
  /* Tourner la carte */
}

.card:hover {
  transform: scale(1.1) translateX(12px);
  /* Agrandit la carte au survol */
  box-shadow: 0 4px 8px rgba(184, 1, 1, 0.2);
  /* Ajoute une ombre douce */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  /* Transition pour un effet fluide */
}

.card-front {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  background-color: #f9ebe5;
}

.card-front .name-index {
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
  margin-bottom: 3px;
}

.card-front .women-pictures {
  display: flex;
  justify-content: center;
}

.card-front img {
  width: 100%;
  /* L'image occupe toute la largeur de la carte */
  height: auto;
  /* Limite la hauteur de l'image */
  object-fit: cover;
}

.card-back {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.card-back .desc-all {
  padding: 20px;
}

.banner-two {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;

}

button {
  background-color: #eddddb;
  color: black;
  border: 1px solid #d1caca;
  /* Bordure grise */
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  /* survol */
  border-radius: 5px;
  transition: background-color 0.3s ease;
  /* Transition couleur */
}

/* survol */
button:hover {
  background-color: rgba(173, 120, 120, 0.5);
  /* Plus sombre au survol */
}

/* Style pour les catégories (elles sont cachées au départ) */
.category {
  display: none;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;

}

.leafletContainer {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  /* overflow-y: scroll; */
  position: relative;
  outline-style: none;
  max-width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.leafletContainer::-webkit-scrollbar {
  height: 9px;
}

.leafletContainer::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  /* Couleur barre de défilement */
  border-radius: 4px;
}

.leafletContainer::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  /* Couleur barre de défilement */
  border-radius: 4px;
}

#map {
  width: 1200px;
  height: 600px;
  position: relative;
  outline-style: none;
}